<app-header></app-header>
<table border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Telephone</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.name}}</td>
            <td>{{user.telephone}}</td>
        </tr>
    </tbody>
</table>
<h1 *ngIf="isAdmin; then adminBlock else clientBlock" class="title"></h1>
<button (click)="counter('minus')">--</button>
<p>counter : {{count}}</p>
<button (click)="counter('add')">++</button>
<br />
<input type="text" disabled={{disabled}} value={{title}} />
<br />
<input type="text" [disabled]="disabled" value={{title}}  />
<ng-template #adminBlock>
    <h1 class="title">{{title}} Admin</h1>
</ng-template>
<ng-template #clientBlock>
    <h1 class="title">{{title}} Client</h1>
</ng-template>
<ng-template [ngIf]="isAdmin">
    <p> i'm admin</p>
</ng-template>
<ng-template [ngIf]="isAdmin==false">
    <p> i'm client</p>
</ng-template>
<div [ngSwitch]="color">
    <p *ngSwitchCase="'red'" >red</p>
    <p *ngSwitchCase="'green'" >green</p>
    <p *ngSwitchCase="'blue'" >blue</p>
    <p *ngSwitchDefault>unknown</p>
</div>
<app-footer></app-footer>