<ng-template *ngIf="isAuthenticated; then authenticatedBlock else notAuthenticatedBlock" >

</ng-template>

<ng-template #notAuthenticatedBlock>
    <div class="wrapper">
        <app-header></app-header>
        <router-outlet></router-outlet>
    </div>
</ng-template>
<ng-template #authenticatedBlock >
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <app-header [isAuthenticatedHeader]="isAuthenticated"></app-header>
    </nav>
    <app-sidebar></app-sidebar>
    <app-footer></app-footer>
</ng-template>

<ng-template [ngIf]="isAdmin" >
    <div class="content-wrapper">
        <div class="page-content fade-in-up">
            <router-outlet></router-outlet>
            hi admin
        </div>
    </div>
</ng-template>
<ng-template [ngIf]="isClient" >
    <router-outlet></router-outlet>
    hi client
</ng-template>